
#playerOneInterface{
    display: none;
}
#playerTwoInterface{
    display: none;
}
#header{
    width:100%;
    text-align: center;
}
.interface{
    width: 550px;
    text-align: center;
    float: left;
    margin:0 auto;
}
#player1{
    margin-top: 30px;
}
.playbutton{
    padding: 10px;
    margin: 15px;
}
#mutualdisplay{
    width: 550px;
    text-align: center;
    float:right;
    margin: 0 auto;
}
.container{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.reset{
    margin: 0 auto;
    clear: both;
    width: 300px;
    text-align: center;
}
.userinterface{
    display: none;
}